<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - BSCC</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  </head>
  <body>
    <header>
      <nav>
        <h1>
          <a href="/">BSCC</a>
        </h1>
      </nav>
      <details>
        <summary>
          <h1>{{ title }}</h1>
        </summary>
      </details>
    </header>
    <main>
      <article>
        {{ content | safe }}
      </article>
    </main>

    <script type="text/javascript" src="/scripts/qrcode.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', async function(event) {
        // Add album QR to main header
        const headerDetails = document.querySelector(`header details`);
        // 2023-11-8 Have no idea how to test this...
        // An Arweave-written app has a path.
        //const svgQr = await QRCode.toString(`${window.location.origin}${window.location.pathname}`, { type: 'svg' });

        var typeNumber = 0;
        var errorCorrectionLevel = 'H';
        var qr = qrcode(typeNumber, errorCorrectionLevel);
        qr.addData(`${window.location.origin}${window.location.pathname}`);
        qr.make();
        const svgQr  = qr.createImgTag('5');

        const p = document.createElement('p');
        p.innerHTML = svgQr;
        headerDetails.append(p);
      });
    </script>
  </body>
</html>
