/**
 * Splash
 */
.hero {
  background-image: url("/images/splash-lg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
}

header {
  height: 100vh;
  width: 100%;
}

header section {
  padding-top: 40vh;
  text-align: center;
}

header section h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 6vh;
  text-shadow: 1px 1px #000;
  color: #fff;
}

header section h2 {
  font-family: 'GothamNarrowBook', Helvetica, Arial, sans-serif;
  font-size: 1.7vh;
  margin-top: 0;
  text-shadow: 1px 1px #000;
  color: #fff;
}

header section img {
  width: 12vh;
}

/* 64em = 1024px */
@media (min-width: 64em) {
  header section h1 {
    font-size: 6vw;
  }

  header section h2 {
    font-size: 1.7vw;
  }

  header section img {
    width: 12vw;
  }
}


