---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: https://{{ project.url }}/sitemap.xml

User-agent: *
{% if project.environment === "development" %}
Disallow: /
{% else %}
Disallow: /whitepaper
Disallow: /bsf
Disallow: /bible
{% endif %}
